custom/plugins/SensusInxmailConnect6/src/Lib/inxmail_api/Apiimpl/wsdl/ApproverService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://approver.apiservice.xpro.inxmail.com" xmlns:impl="http://approver.apiservice.xpro.inxmail.com" xmlns:inx="http://apiservice.xpro.inxmail.com" xmlns:intf="http://approver.apiservice.xpro.inxmail.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

    <complexType name="SessionCxt">
     <sequence>
      <element name="sid" type="xsd:string"/>
      <element name="relRefIds" nillable="true" type="inx:ArrayOf_xsd_string"/>
     </sequence>
    </complexType>
 
 	<complexType name="ArrayOf_xsd_string">
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType"
					wsdl:arrayType="xsd:string[]" />
			</restriction>
		</complexContent>
	</complexType> 
	
	<complexType name="TInteger">
		<sequence>
			<element name="value" type="xsd:int" />
		</sequence>
	</complexType>
   
    <complexType name="ArrayOf_TInteger">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TInteger[]"/>
       </restriction>
      </complexContent>
   </complexType>
   
   <complexType name="ArrayOf_xsd_int">
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType"
					wsdl:arrayType="xsd:int[]" />
			</restriction>
		</complexContent>
	</complexType>
   
  </schema>
  
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://approver.apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   
   <complexType name="ResultSetData">
    <sequence>
     <element name="remoteRefId" type="xsd:string"/>
     <element name="size" type="xsd:int"/>
     <element name="data" nillable="true" type="impl:ArrayOfApproverData"/>
    </sequence>
   </complexType>
   
   <complexType name="ApproverData">
    <sequence>
     <element name="id" type="xsd:int"/>  
     <element name="name" type="xsd:string"/>
     <element name="listIds" type="inx:ArrayOf_xsd_int"/>
     <element name="email" type="xsd:string"/>
     <element name="comment" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="ArrayOfApproverData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ApproverData[]"/>
     </restriction>
    </complexContent>
   </complexType>  
      
   <complexType name="ExceptionDesc">
    <sequence>
     <element name="type" type="xsd:int"/>
     <element name="source" type="xsd:int"/>
     <element name="msg" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="ApproverDataHolder">
    <sequence>
     <element name="value" nillable="true" type="impl:ApproverData"/>  
     <element name="excDesc" nillable="true" type="impl:ExceptionDesc"/>
    </sequence>
   </complexType>
   
  </schema>
</wsdl:types>

   <wsdl:message name="getRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="id" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="getResponse">
      <wsdl:part name="getReturn" type="impl:ApproverData"/>
   </wsdl:message>

   <wsdl:message name="removeRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="id" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="removeResponse">
      <wsdl:part name="removeReturn" type="xsd:boolean"/>
   </wsdl:message>
   
   <wsdl:message name="selectApproverRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="listContext" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="selectApproverResponse">
      <wsdl:part name="selectApproverReturn" type="impl:ResultSetData"/>
   </wsdl:message>

   <wsdl:message name="selectAllRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
   </wsdl:message>
   <wsdl:message name="selectAllResponse">
      <wsdl:part name="selectAllReturn" type="impl:ResultSetData"/>
   </wsdl:message>
   
   <wsdl:message name="fetchRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="remoteRefId" type="xsd:string"/>
      <wsdl:part name="index" type="xsd:int"/>
      <wsdl:part name="direction" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="fetchResponse">
      <wsdl:part name="fetchReturn" type="impl:ArrayOfApproverData"/>
   </wsdl:message>
   
   <wsdl:message name="removeSelectionRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="remoteRefId" type="xsd:string"/>
      <wsdl:part name="indices" type="inx:ArrayOf_TInteger"/>
   </wsdl:message>
   <wsdl:message name="removeSelectionResponse">
      <wsdl:part name="removeSelectionReturn" type="xsd:int"/>
   </wsdl:message> 
   
   
   <wsdl:message name="updateRequest">
      <wsdl:part name="sc" type="inx:SessionCxt"/>
      <wsdl:part name="updData" type="impl:ApproverData"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="updateReturn" type="impl:ApproverDataHolder"/>   
   </wsdl:message>
   
   

   <wsdl:portType name="ApproverService">
   
      <wsdl:operation name="update" parameterOrder="sc updData">
         <wsdl:input name="updateRequest" message="impl:updateRequest"/>
         <wsdl:output name="updateResponse" message="impl:updateResponse"/>
      </wsdl:operation>

      <wsdl:operation name="get" parameterOrder="sc id">
         <wsdl:input name="getRequest" message="impl:getRequest"/>
         <wsdl:output name="getResponse" message="impl:getResponse"/>
      </wsdl:operation>

      <wsdl:operation name="remove" parameterOrder="sc id">
         <wsdl:input name="removeRequest" message="impl:removeRequest"/>
         <wsdl:output name="removeResponse" message="impl:removeResponse"/>
      </wsdl:operation>

      <wsdl:operation name="fetch" parameterOrder="sc remoteRefId index direction">
         <wsdl:input name="fetchRequest" message="impl:fetchRequest"/>
         <wsdl:output name="fetchResponse" message="impl:fetchResponse"/>
      </wsdl:operation>
          
      <wsdl:operation name="selectApprover" parameterOrder="sc listContext">
         <wsdl:input name="selectApproverRequest" message="impl:selectApproverRequest"/>
         <wsdl:output name="selectApproverResponse" message="impl:selectApproverResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="selectAll" parameterOrder="sc">
         <wsdl:input name="selectAllRequest" message="impl:selectAllRequest"/>
         <wsdl:output name="selectAllResponse" message="impl:selectAllResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="removeSelection" parameterOrder="sc remoteRefId indices">
         <wsdl:input name="removeSelectionRequest" message="impl:removeSelectionRequest"/>
         <wsdl:output name="removeSelectionResponse" message="impl:removeSelectionResponse"/>
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ApproverServiceSoapBinding" type="impl:ApproverService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">
      
         <wsdlsoap:operation soapAction=""/>
      
         <wsdl:input name="getRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
      
         <wsdl:output name="getResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      
      </wsdl:operation>

      <wsdl:operation name="remove">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="removeResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="fetchResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>


     <wsdl:operation name="selectApprover">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectApproverRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="selectApproverResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

     </wsdl:operation>
     
      <wsdl:operation name="selectAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectAllRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="selectAllResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>

     <wsdl:operation name="removeSelection">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeSelectionRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="removeSelectionResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

     </wsdl:operation>


      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="updateResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://approver.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>
           
   </wsdl:binding>

   <wsdl:service name="ApproverServiceSoap">

      <wsdl:port name="ApproverService" binding="impl:ApproverServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:80/inxmail/api/ApproverService"/>

      </wsdl:port>

   </wsdl:service>
   
</wsdl:definitions>
