custom/plugins/SensusInxmailConnect6/src/Lib/inxmail_api/Apiimpl/wsdl/PropertyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://property.apiservice.xpro.inxmail.com" xmlns:impl="http://property.apiservice.xpro.inxmail.com" xmlns:inx="http://apiservice.xpro.inxmail.com" xmlns:intf="http://property.apiservice.xpro.inxmail.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   
    <complexType name="TString">
     <sequence>
      <element name="value" type="xsd:string"/>
     </sequence>
    </complexType>
 
    <complexType name="TBoolean">
     <sequence>
      <element name="value" type="xsd:boolean"/>
     </sequence>
    </complexType>
    
    <complexType name="TInteger">
     <sequence>
      <element name="value" type="xsd:int"/>
     </sequence>
    </complexType>
   
    <complexType name="TDatetime">
      <sequence>
       <element name="value" type="xsd:dateTime"/>
      </sequence>
   </complexType>
 
    <complexType name="ArrayOf_TString">
       <complexContent>
        <restriction base="soapenc:Array">
         <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TString[]"/>
        </restriction>
       </complexContent>
    </complexType>
 
    <complexType name="ArrayOf_TBoolean">
       <complexContent>
        <restriction base="soapenc:Array">
         <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TBoolean[]"/>
        </restriction>
       </complexContent>
    </complexType>
    
    <complexType name="ArrayOf_TInteger">
       <complexContent>
        <restriction base="soapenc:Array">
         <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TInteger[]"/>
        </restriction>
       </complexContent>
    </complexType>
   
    <complexType name="ArrayOf_TDatetime">
       <complexContent>
        <restriction base="soapenc:Array">
         <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TDatetime[]"/>
        </restriction>
       </complexContent>
   </complexType>
   
  </schema>
  
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://property.apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   
   <complexType name="ResultSetData">
    <sequence>
     <element name="remoteRefId" type="xsd:string"/>
     <element name="size" type="xsd:int"/>
     <element name="data" nillable="true" type="impl:ArrayOfPropertyData"/>
    </sequence>
   </complexType>
   
   <complexType name="PropertyData">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" type="xsd:string"/>
     <element name="value" nillable="true" type="inx:TString"/>
    </sequence>
   </complexType>
   
   <complexType name="ApprovalPropertyData">
    <sequence>
     <element name="approvalType" type="xsd:int"/>
     <element name="id1" type="xsd:int"/>
     <element name="id2" type="xsd:int"/>
     <element name="excDesc" nillable="true" type="impl:ExceptionDesc"/>
    </sequence>
   </complexType>
   
   <complexType name="ApprovalPropertyDataHolder">
    <sequence>
     <element name="value" nillable="true" type="inx:TString"/>
    </sequence>
   </complexType>
   
   <complexType name="InternalApprovalPropertyData">
    <sequence>
     <element name="internalValue" nillable="true" type="inx:TString"/>
     <element name="excDesc" nillable="true" type="impl:ExceptionDesc"/>
    </sequence>
   </complexType>
   
   
   <complexType name="ArrayOfPropertyData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:PropertyData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   
   <complexType name="ExceptionDesc">
    <sequence>
     <element name="type" type="xsd:int"/>
     <element name="source" type="xsd:int"/>
     <element name="msg" type="xsd:string"/>
    </sequence>
   </complexType>
   
   <complexType name="PropertyDataHolder">
    <sequence>
     <element name="value" nillable="true" type="impl:PropertyData"/>
     <element name="excDesc" nillable="true" type="impl:ExceptionDesc"/>
    </sequence>
   </complexType>
    
  </schema>
 </wsdl:types>

   <wsdl:message name="parseApprovalPropertyRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="value" type="impl:ApprovalPropertyDataHolder"/>
   </wsdl:message>
   <wsdl:message name="parseApprovalPropertyResponse">
      <wsdl:part name="parseApprovalPropertyReturn" type="impl:ApprovalPropertyData"/>
   </wsdl:message>


   <wsdl:message name="getInternalApprovalPropertyRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="approvalType" type="xsd:int"/>
      <wsdl:part name="id1" type="xsd:int"/>
      <wsdl:part name="id2" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="getInternalApprovalPropertyResponse">
      <wsdl:part name="getInternalApprovalPropertyReturn" type="impl:InternalApprovalPropertyData"/>
   </wsdl:message>



   <wsdl:message name="findByNameRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="listId" type="xsd:int"/>
      <wsdl:part name="name" type="xsd:string"/>
   </wsdl:message>
   <wsdl:message name="findByNameResponse">
      <wsdl:part name="findByNameReturn" type="impl:PropertyData"/>
   </wsdl:message>

   <wsdl:message name="getRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="listId" type="xsd:int"/>
      <wsdl:part name="id" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="getResponse">
      <wsdl:part name="getReturn" type="impl:PropertyData"/>
   </wsdl:message>

   <wsdl:message name="selectAllRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="listId" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="selectAllResponse">
      <wsdl:part name="selectAllReturn" type="impl:ResultSetData"/>
   </wsdl:message>
   
   <wsdl:message name="fetchRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="remoteRefId" type="xsd:string"/>
      <wsdl:part name="index" type="xsd:int"/>
      <wsdl:part name="direction" type="xsd:int"/>
   </wsdl:message>
   <wsdl:message name="fetchResponse">
      <wsdl:part name="fetchReturn" type="impl:ArrayOfPropertyData"/>
   </wsdl:message>

   <wsdl:message name="updateRequest">
      <wsdl:part name="sid" type="xsd:string"/>
      <wsdl:part name="listId" type="xsd:int"/>
      <wsdl:part name="updData" type="impl:PropertyData"/>
      <wsdl:part name="changeFlags" type="inx:ArrayOf_TBoolean"/>
   </wsdl:message>
   <wsdl:message name="updateResponse">
      <wsdl:part name="readData" type="impl:PropertyDataHolder"/>   
   </wsdl:message>
   
   <wsdl:portType name="PropertyService">

      <wsdl:operation name="get" parameterOrder="sid listId id">
         <wsdl:input name="getRequest" message="impl:getRequest"/>
         <wsdl:output name="getResponse" message="impl:getResponse"/>
      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="sid listId updData changeFlags">
         <wsdl:input name="updateRequest" message="impl:updateRequest"/>
         <wsdl:output name="updateResponse" message="impl:updateResponse"/>
      </wsdl:operation>

      <wsdl:operation name="findByName" parameterOrder="sid listId name">
         <wsdl:input name="findByNameRequest" message="impl:findByNameRequest"/>
         <wsdl:output name="findByNameResponse" message="impl:findByNameResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="parseApprovalProperty" parameterOrder="sid value">
         <wsdl:input name="parseApprovalPropertyRequest" message="impl:parseApprovalPropertyRequest"/>
         <wsdl:output name="parseApprovalPropertyResponse" message="impl:parseApprovalPropertyResponse"/>
      </wsdl:operation>
      

      <wsdl:operation name="getInternalApprovalPropertyValue" parameterOrder="sid approvalType id1 id2">
         <wsdl:input name="getInternalApprovalPropertyRequest" message="impl:getInternalApprovalPropertyRequest"/>
         <wsdl:output name="getInternalApprovalPropertyResponse" message="impl:getInternalApprovalPropertyResponse"/>
      </wsdl:operation>


      <wsdl:operation name="fetch" parameterOrder="sid remoteRefId index direction">
         <wsdl:input name="fetchRequest" message="impl:fetchRequest"/>
         <wsdl:output name="fetchResponse" message="impl:fetchResponse"/>
      </wsdl:operation>
      
      <wsdl:operation name="selectAll" parameterOrder="sid listId">
         <wsdl:input name="selectAllRequest" message="impl:selectAllRequest"/>
         <wsdl:output name="selectAllResponse" message="impl:selectAllResponse"/>
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PropertyServiceSoapBinding" type="impl:PropertyService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">
      
         <wsdlsoap:operation soapAction=""/>
      
         <wsdl:input name="getRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
      
         <wsdl:output name="getResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      
      </wsdl:operation>

      <wsdl:operation name="update">
      
         <wsdlsoap:operation soapAction=""/>
      
         <wsdl:input name="updateRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
      
         <wsdl:output name="updateResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      
      </wsdl:operation>

      <wsdl:operation name="findByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByNameRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="findByNameResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>


      <wsdl:operation name="parseApprovalProperty">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="parseApprovalPropertyRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="parseApprovalPropertyResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>


      <wsdl:operation name="getInternalApprovalPropertyValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInternalApprovalPropertyRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="getInternalApprovalPropertyResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>


      <wsdl:operation name="fetch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="fetchResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="selectAll">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="selectAllRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:input>

         <wsdl:output name="selectAllResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://property.apiservice.xpro.inxmail.com"/>
         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PropertyServiceSoap">

      <wsdl:port name="PropertyService" binding="impl:PropertyServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:80/inxmail/api/PropertyService"/>

      </wsdl:port>

   </wsdl:service>
   
</wsdl:definitions>
