custom/plugins/SensusInxmailConnect6/src/Lib/inxmail_api/Apiimpl/wsdl/RecipientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://recipient.apiservice.xpro.inxmail.com" xmlns:impl="http://recipient.apiservice.xpro.inxmail.com" xmlns:inx="http://apiservice.xpro.inxmail.com" xmlns:intf="http://recipient.apiservice.xpro.inxmail.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
 <wsdl:types>
  
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 
	<complexType name="ArrayOf_xsd_int">
		<complexContent>
			<restriction base="soapenc:Array">
				<attribute ref="soapenc:arrayType"
				wsdl:arrayType="xsd:int[]" />
			</restriction>
		</complexContent>
	</complexType>
			  
   <complexType name="TString">
    <sequence>
     <element name="value" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="TBoolean">
    <sequence>
     <element name="value" type="xsd:boolean"/>
    </sequence>
   </complexType>
   
   <complexType name="TInteger">
    <sequence>
     <element name="value" type="xsd:int"/>
    </sequence>
   </complexType>
  
   <complexType name="TDouble">
      <sequence>
       <element name="value" type="xsd:double"/>
      </sequence>
   </complexType>
   
   <complexType name="TDatetime">
         <sequence>
          <element name="value" type="xsd:dateTime"/>
         </sequence>
   </complexType>
   
   <complexType name="TDate">
         <sequence>
          <element name="value" type="xsd:date"/>
         </sequence>
   </complexType>
   
   <complexType name="TTime">
            <sequence>
             <element name="value" type="xsd:time"/>
            </sequence>
   </complexType>
   
   <complexType name="ArrayOf_TString">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TString[]"/>
       </restriction>
      </complexContent>
   </complexType>

   <complexType name="ArrayOf_TBoolean">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TBoolean[]"/>
       </restriction>
      </complexContent>
   </complexType>
   
   <complexType name="ArrayOf_TInteger">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TInteger[]"/>
       </restriction>
      </complexContent>
   </complexType>
   
   <complexType name="ArrayOf_TDouble">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TDouble[]"/>
       </restriction>
      </complexContent>
   </complexType>
   
   <complexType name="ArrayOf_TDatetime">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TDatetime[]"/>
       </restriction>
      </complexContent>
   </complexType>

   <complexType name="ArrayOf_TDate">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TDate[]"/>
       </restriction>
      </complexContent>
   </complexType>

   <complexType name="ArrayOf_TTime">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="inx:TTime[]"/>
       </restriction>
      </complexContent>
   </complexType>

<!-- not supported in Delphi

   <complexType name="ArrayOf_xsd_int">
      <complexContent>
       <restriction base="soapenc:Array">
        <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:int[]"/>
       </restriction>
      </complexContent>
     </complexType>
-->

  </schema>
 
 <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://recipient.apiservice.xpro.inxmail.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

   <complexType name="SelectExcDesc">
    <sequence>
     <element name="type" type="xsd:int"/>
     <element name="msg" type="xsd:string"/>
    </sequence>
  </complexType>
  
   <complexType name="RowSetData">
    <sequence>
     <element name="remoteRefId" type="xsd:string"/>
     <element name="rowCount" type="xsd:int"/>
     <element name="data" nillable="true" type="impl:ArrayOfRecipientData"/>
     <element name="selectExcDesc" nillable="true" type="impl:SelectExcDesc"/>
    </sequence>
   </complexType>
     
   <complexType name="AttrUpdate">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="stringData" nillable="true" type="inx:TString"/>
     <element name="booleanData" nillable="true" type="inx:TBoolean"/>
     <element name="integerData" nillable="true" type="inx:TInteger"/>
     <element name="doubleData" nillable="true" type="inx:TDouble"/>
     <element name="dateData" nillable="true" type="inx:TDate"/>
     <element name="timeData" nillable="true" type="inx:TTime"/>
     <element name="datetimeData" nillable="true" type="inx:TDatetime"/>
    </sequence>
   </complexType>
   
   <complexType name="RecipientData">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="stringData" nillable="true" type="inx:ArrayOf_TString"/>
     <element name="booleanData" nillable="true" type="inx:ArrayOf_TBoolean"/>
     <element name="integerData" nillable="true" type="inx:ArrayOf_TInteger"/>
     <element name="doubleData" nillable="true" type="inx:ArrayOf_TDouble"/>
     <element name="dateData" nillable="true" type="inx:ArrayOf_TDate"/>
     <element name="timeData" nillable="true" type="inx:ArrayOf_TTime"/>
     <element name="datetimeData" nillable="true" type="inx:ArrayOf_TDatetime"/>
    </sequence>
   </complexType>
   
   <complexType name="ArrayOfRecipientData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:RecipientData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   
   <complexType name="RecipientUpdate">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="stringData" nillable="true" type="inx:ArrayOf_TString"/>
     <element name="booleanData" nillable="true" type="inx:ArrayOf_TBoolean"/>
     <element name="integerData" nillable="true" type="inx:ArrayOf_TInteger"/>
     <element name="doubleData" nillable="true" type="inx:ArrayOf_TDouble"/>
     <element name="dateData" nillable="true" type="inx:ArrayOf_TDate"/>
     <element name="timeData" nillable="true" type="inx:ArrayOf_TTime"/>
     <element name="datetimeData" nillable="true" type="inx:ArrayOf_TDatetime"/>
     <element name="attrIndices" nillable="true" type="inx:ArrayOf_TInteger"/>
     <element name="typeArrayIndices" nillable="true" type="inx:ArrayOf_TInteger"/>
    </sequence>
   </complexType>
 
   <complexType name="UpdExcDesc">
    <sequence>
     <element name="type" type="xsd:int"/>
     <element name="source" type="xsd:int"/>
     <element name="msg" type="xsd:string"/>
    </sequence>
   </complexType>

   <complexType name="RecipientDataHolder">
    <sequence>
     <element name="value" nillable="true" type="impl:RecipientData"/>
     <element name="updExcDesc" nillable="true" type="impl:UpdExcDesc"/>
    </sequence>
   </complexType>
   
   <complexType name="AttrData">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="dataType" type="xsd:int"/>
     <element name="maxStringLength" type="xsd:int"/>
     <element name="attrType" type="xsd:int"/>
     <element name="listContextId" type="xsd:int"/>
     <element name="featureId" type="xsd:int"/>
     <element name="arrayIndex" type="xsd:int"/>
     <element name="typeArrayIndex" type="xsd:int"/>
    </sequence>
   </complexType>
   
   <complexType name="ArrayOfAttrData">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:AttrData[]"/>
     </restriction>
    </complexContent>
   </complexType>
   
   <complexType name="RecipientContextData">
    <sequence>
     <element name="remoteRefId" nillable="true" type="xsd:string"/>
     <element name="keyUnique" type="xsd:boolean"/>
     <element name="keyAttrId" type="xsd:int"/>
     <element name="emailAttrId" type="xsd:int"/>
     <element name="idAttrId" type="xsd:int"/>
     
     <element name="stringAttrCount" type="xsd:int"/>
     <element name="booleanAttrCount" type="xsd:int"/>
     <element name="integerAttrCount" type="xsd:int"/>
     <element name="doubleAttrCount" type="xsd:int"/>
     <element name="dateAttrCount" type="xsd:int"/>
     <element name="timeAttrCount" type="xsd:int"/>
     <element name="datetimeAttrCount" type="xsd:int"/>
     
     <element name="attrData" nillable="true" type="impl:ArrayOfAttrData"/>
    </sequence>
   </complexType>
   
   <complexType name="BatchUpdData">
       <sequence>
        <element name="cmdData" nillable="true" type="inx:ArrayOf_TInteger"/>
        <element name="attrIdData" nillable="true" type="inx:ArrayOf_TInteger"/>
        <element name="stringData" nillable="true" type="inx:ArrayOf_TString"/>
        <element name="booleanData" nillable="true" type="inx:ArrayOf_TBoolean"/>
        <element name="integerData" nillable="true" type="inx:ArrayOf_TInteger"/>
        <element name="doubleData" nillable="true" type="inx:ArrayOf_TDouble"/>
        <element name="dateData" nillable="true" type="inx:ArrayOf_TDate"/>
        <element name="timeData" nillable="true" type="inx:ArrayOf_TTime"/>
        <element name="datetimeData" nillable="true" type="inx:ArrayOf_TDatetime"/>
       </sequence>
   </complexType>
   
  </schema>
 </wsdl:types>

   <wsdl:message name="setAttributeValueRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="attrUpd" type="impl:AttrUpdate"/>

   </wsdl:message>

   <wsdl:message name="setAttributeValueResponse">

      <wsdl:part name="setAttributeValueReturn" type="xsd:boolean"/>

   </wsdl:message>
 
    <wsdl:message name="setAttributeValueRequest1">
 
       <wsdl:part name="sid" type="xsd:string"/>
 
       <wsdl:part name="remoteRefId" type="xsd:string"/>
 
       <wsdl:part name="attrUpd" type="impl:AttrUpdate"/>
 
    </wsdl:message>
 
    <wsdl:message name="setAttributeValueResponse1">
 
       <wsdl:part name="setAttributeValueReturn1" type="xsd:boolean"/>
 
    </wsdl:message>
 
    <wsdl:message name="setAttributeValueRequest2">
 
       <wsdl:part name="sid" type="xsd:string"/>
 
       <wsdl:part name="remoteRefId" type="xsd:string"/>
 
       <wsdl:part name="attrUpd" type="impl:AttrUpdate"/>
       
       <wsdl:part name="indexRanges" type="inx:ArrayOf_TInteger"/>
 
    </wsdl:message>
 
    <wsdl:message name="setAttributeValueResponse2">
 
       <wsdl:part name="setAttributeValueReturn2" type="xsd:boolean"/>
 
    </wsdl:message>
 
   <wsdl:message name="batchRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="data" type="impl:BatchUpdData"/>

   </wsdl:message>

   <wsdl:message name="batchResponse">

      <wsdl:part name="batchReturn" type="inx:ArrayOf_TInteger"/>

   </wsdl:message>

   <wsdl:message name="isUpToDateRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="isUpToDateResponse">

      <wsdl:part name="isUpToDateReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientContextRequest">

      <wsdl:part name="sid" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientContextWithTrackingPermissionRequest">

       <wsdl:part name="sid" type="xsd:string"/>

       <wsdl:part name="includeTrackingPermissions" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="deleteRecipientsRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="indexRanges" type="inx:ArrayOf_TInteger"/>

   </wsdl:message>

   <wsdl:message name="updateRecipientResponse">

      <wsdl:part name="updateRecipientReturn" type="impl:RecipientDataHolder"/>

   </wsdl:message>

   <wsdl:message name="deleteRecipientsResponse">

      <wsdl:part name="deleteRecipientsReturn" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientContextResponse">

      <wsdl:part name="fetchRecipientContextReturn" type="impl:RecipientContextData"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientContextWithTrackingPermissionResponse">

       <wsdl:part name="fetchRecipientContextWithTrackingPermissionReturn" type="impl:RecipientContextData"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientsResponse">

      <wsdl:part name="fetchRecipientsReturn" type="impl:ArrayOfRecipientData"/>

   </wsdl:message>

   <wsdl:message name="fetchAttributesRequest">

       <wsdl:part name="sid" type="xsd:string"/>
 
       <wsdl:part name="remoteRefId" type="xsd:string"/>

       <wsdl:part name="beginIndex" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="fetchAttributesResponse">

      <wsdl:part name="fetchAttributesReturn" type="impl:ArrayOfAttrData"/>

   </wsdl:message>

   <wsdl:message name="fetchRecipientsRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="index" type="xsd:int"/>

      <wsdl:part name="direction" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="updateRecipientRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="ru" type="impl:RecipientUpdate"/>

   </wsdl:message>

   <wsdl:message name="findRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="listContextId" type="xsd:int"/>

      <wsdl:part name="filter" type="xsd:string"/>

      <wsdl:part name="orderAttrId" type="xsd:int"/>

      <wsdl:part name="orderType" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="findResponse">

      <wsdl:part name="findReturn" type="impl:RowSetData"/>

   </wsdl:message>

   <wsdl:message name="find1Request">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

      <wsdl:part name="listContextId" type="xsd:int"/>

      <wsdl:part name="filterId" type="xsd:int"/>
	
      <wsdl:part name="filter" type="xsd:string"/>

      <wsdl:part name="orderAttrId" type="xsd:int"/>

      <wsdl:part name="orderType" type="xsd:int"/>

   </wsdl:message>

   <wsdl:message name="find1Response">

      <wsdl:part name="find1Return" type="impl:RowSetData"/>

   </wsdl:message>

   <wsdl:message name="findByKeyRequest">
   
      <wsdl:part name="sid" type="xsd:string"/>
      
      <wsdl:part name="remoteRefId" type="xsd:string"/>
   
      <wsdl:part name="key" type="xsd:string"></wsdl:part>
   
   </wsdl:message>   
   
   <wsdl:message name="findByKeyResponse">
   
      <wsdl:part name="findByKeyReturn" type="impl:RowSetData"></wsdl:part>
   
   </wsdl:message>
   
   <wsdl:message name="findAllByKeyRequest">
   
      <wsdl:part name="sid" type="xsd:string"/>
      
      <wsdl:part name="remoteRefId" type="xsd:string"/>
   
      <wsdl:part name="key" type="xsd:string"></wsdl:part>
   
   </wsdl:message>   
   
   <wsdl:message name="findAllByKeyResponse">
   
      <wsdl:part name="findAllByKeyReturn" type="impl:RowSetData"></wsdl:part>
   
   </wsdl:message>
   
   <wsdl:message name="findByKeysRequest">
   
      <wsdl:part name="sid" type="xsd:string"/>
      
      <wsdl:part name="remoteRefId" type="xsd:string"/>
   
      <wsdl:part name="keys" type="inx:ArrayOf_TString"></wsdl:part>
   
   </wsdl:message>   
   
   <wsdl:message name="findByKeysResponse">
   
      <wsdl:part name="findByKeysReturn" type="impl:RowSetData"></wsdl:part>
   
   </wsdl:message>
   
   <wsdl:message name="findAllByKeysRequest">
   
      <wsdl:part name="sid" type="xsd:string"/>
      
      <wsdl:part name="remoteRefId" type="xsd:string"/>
   
      <wsdl:part name="keys" type="inx:ArrayOf_TString"></wsdl:part>
   
   </wsdl:message>   
   
   <wsdl:message name="findAllByKeysResponse">
   
      <wsdl:part name="findAllByKeysReturn" type="impl:RowSetData"></wsdl:part>
   
   </wsdl:message>
   
   <wsdl:message name="findByIdsRequest">
   
   		<wsdl:part name="sid" type ="xsd:string"/>
   		
   		<wsdl:part name="remoteRefId" type="xsd:string"/>
   		
   		<wsdl:part name="recipientIds" type="inx:ArrayOf_xsd_int"/>
   		
   </wsdl:message>
   
   <wsdl:message name="findByIdsResponse">
   
   		<wsdl:part name="findByIdsReturn" type="impl:RowSetData"/>
   
   </wsdl:message>
   
   <wsdl:message name="findBySendingRequest">
   
   		<wsdl:part name="sid" type="xsd:string"/>
   		
   		<wsdl:part name="remoteRefId" type="xsd:string"/>
   		
   		<wsdl:part name="sendingId" type="xsd:long"/>
   
   </wsdl:message>
   
   <wsdl:message name="findBySendingResponse">
   
   		<wsdl:part name="findBySendingReturn" type="impl:RowSetData"/>
   
   </wsdl:message>
   
   <wsdl:message name="createRowSetRequest">

      <wsdl:part name="sid" type="xsd:string"/>

      <wsdl:part name="remoteRefId" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createRowSetResponse">

      <wsdl:part name="createRowSetReturn" type="impl:RowSetData"/>

   </wsdl:message>
   
   
   <wsdl:portType name="RecipientService">

      <wsdl:operation name="setAttributeValue" parameterOrder="sid remoteRefId attrUpd">

         <wsdl:input name="setAttributeValueRequest" message="impl:setAttributeValueRequest"/>

         <wsdl:output name="setAttributeValueResponse" message="impl:setAttributeValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="setAttributeValue1" parameterOrder="sid remoteRefId attrUpd">

         <wsdl:input name="setAttributeValueRequest1" message="impl:setAttributeValueRequest1"/>

         <wsdl:output name="setAttributeValueResponse1" message="impl:setAttributeValueResponse1"/>

      </wsdl:operation>

      <wsdl:operation name="setAttributeValue2" parameterOrder="sid remoteRefId attrUpd indexRanges">

         <wsdl:input name="setAttributeValueRequest2" message="impl:setAttributeValueRequest2"/>

         <wsdl:output name="setAttributeValueResponse2" message="impl:setAttributeValueResponse2"/>

      </wsdl:operation>

      <wsdl:operation name="batch" parameterOrder="sid remoteRefId data">

         <wsdl:input name="batchRequest" message="impl:batchRequest"/>

         <wsdl:output name="batchResponse" message="impl:batchResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="isUpToDate" parameterOrder="sid remoteRefId">
      
         <wsdl:input name="isUpToDateRequest" message="impl:isUpToDateRequest"/>
      
         <wsdl:output name="isUpToDateResponse" message="impl:isUpToDateResponse"/>
      
      </wsdl:operation>

      <wsdl:operation name="find" parameterOrder="sid remoteRefId listContextId filter orderAttrId orderType">

         <wsdl:input name="findRequest" message="impl:findRequest"/>

         <wsdl:output name="findResponse" message="impl:findResponse"/>

      </wsdl:operation>

      <wsdl:operation name="find1" parameterOrder="sid remoteRefId listContextId filterId filter orderAttrId orderType">

         <wsdl:input name="find1Request" message="impl:find1Request"/>

         <wsdl:output name="find1Response" message="impl:find1Response"/>

      </wsdl:operation>
      
      <wsdl:operation name="findByKey" parameterOrder="sid remoteRefId key">

         <wsdl:input name="findByKeyRequest" message="impl:findByKeyRequest"/>

         <wsdl:output name="findByKeyResponse" message="impl:findByKeyResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="findAllByKey" parameterOrder="sid remoteRefId key">

         <wsdl:input name="findAllByKeyRequest" message="impl:findAllByKeyRequest"/>

         <wsdl:output name="findAllByKeyResponse" message="impl:findAllByKeyResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="findByKeys" parameterOrder="sid remoteRefId keys">

         <wsdl:input name="findByKeysRequest" message="impl:findByKeysRequest"/>

         <wsdl:output name="findByKeysResponse" message="impl:findByKeysResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="findAllByKeys" parameterOrder="sid remoteRefId keys">

         <wsdl:input name="findAllByKeysRequest" message="impl:findAllByKeysRequest"/>

         <wsdl:output name="findAllByKeysResponse" message="impl:findAllByKeysResponse"/>

      </wsdl:operation>
      
      <wsdl:operation name="findByIds" parameterOrder="sid remoteRefId recipientIds">
      
      		<wsdl:input name="findByIdsRequest" message="impl:findByIdsRequest"/>
      		
      		<wsdl:output name="findByIdsResponse" message="impl:findByIdsResponse"/>
      
      </wsdl:operation>
      
      <wsdl:operation name="findBySending" parameterOrder="sid remoteRefId sendingId">
      
      		<wsdl:input name="findBySendingRequest" message="impl:findBySendingRequest"/>
      		
      		<wsdl:output name="findBySendingResponse" message="impl:findBySendingResponse"/>
      
      </wsdl:operation>
      
      <wsdl:operation name="createRowSet" parameterOrder="sid remoteRefId">
      
         <wsdl:input name="createRowSetRequest" message="impl:createRowSetRequest"/>
      
         <wsdl:output name="createRowSetResponse" message="impl:createRowSetResponse"/>
 
      </wsdl:operation>

      <wsdl:operation name="fetchRecipients" parameterOrder="sid remoteRefId index direction">

         <wsdl:input name="fetchRecipientsRequest" message="impl:fetchRecipientsRequest"/>

         <wsdl:output name="fetchRecipientsResponse" message="impl:fetchRecipientsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="fetchAttributes" parameterOrder="sid remoteRefId beginIndex">

         <wsdl:input name="fetchAttributesRequest" message="impl:fetchAttributesRequest"/>

         <wsdl:output name="fetchAttributesResponse" message="impl:fetchAttributesResponse"/>

      </wsdl:operation>
   
      <wsdl:operation name="deleteRecipients" parameterOrder="sid remoteRefId indexRanges">

         <wsdl:input name="deleteRecipientsRequest" message="impl:deleteRecipientsRequest"/>

         <wsdl:output name="deleteRecipientsResponse" message="impl:deleteRecipientsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="updateRecipient" parameterOrder="sid remoteRefId ru">

         <wsdl:input name="updateRecipientRequest" message="impl:updateRecipientRequest"/>

         <wsdl:output name="updateRecipientResponse" message="impl:updateRecipientResponse"/>

      </wsdl:operation>

      <wsdl:operation name="fetchRecipientContext" parameterOrder="sid">

         <wsdl:input name="fetchRecipientContextRequest" message="impl:fetchRecipientContextRequest"/>

         <wsdl:output name="fetchRecipientContextResponse" message="impl:fetchRecipientContextResponse"/>

      </wsdl:operation>

      <wsdl:operation name="fetchRecipientContextWithTrackingPermission" parameterOrder="sid includeTrackingPermissions">

          <wsdl:input name="fetchRecipientContextWithTrackingPermissionRequest" message="impl:fetchRecipientContextWithTrackingPermissionRequest"/>

          <wsdl:output name="fetchRecipientContextWithTrackingPermissionResponse" message="impl:fetchRecipientContextWithTrackingPermissionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RecipientServiceSoapBinding" type="impl:RecipientService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setAttributeValue">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="setAttributeValueRequest">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
         <wsdl:output name="setAttributeValueResponse">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      </wsdl:operation>
 
       <wsdl:operation name="setAttributeValue1">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="setAttributeValueRequest1">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
         <wsdl:output name="setAttributeValueResponse1">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="setAttributeValue2">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="setAttributeValueRequest2">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:input>
         <wsdl:output name="setAttributeValueResponse2">
            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
         </wsdl:output>
      </wsdl:operation>

     <wsdl:operation name="batch">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="batchRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="batchResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
 
       <wsdl:operation name="isUpToDate">
 
          <wsdlsoap:operation soapAction=""/>
 
          <wsdl:input name="isUpToDateRequest">
 
             <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
 
          </wsdl:input>
 
          <wsdl:output name="isUpToDateResponse">
 
             <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
 
          </wsdl:output>
 
       </wsdl:operation>
 
      <wsdl:operation name="find">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="find1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="find1Request">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="find1Response">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="findByKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByKeyRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findByKeyResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="findAllByKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllByKeyRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findAllByKeyResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="findByKeys">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByKeysRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findByKeysResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="findByIds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByIdsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findByIdsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>     
      
      <wsdl:operation name="findBySending">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findBySendingRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findBySendingResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>    
      
      <wsdl:operation name="findAllByKeys">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllByKeysRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="findAllByKeysResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>
      
      <wsdl:operation name="createRowSet">
      
               <wsdlsoap:operation soapAction=""/>
      
               <wsdl:input name="createRowSetRequest">
      
                  <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
      
               </wsdl:input>
      
               <wsdl:output name="createRowSetResponse">
      
                  <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>
      
               </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchRecipients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchRecipientsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="fetchRecipientsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchAttributes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchAttributesRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="fetchAttributesResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteRecipients">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRecipientsRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="deleteRecipientsResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateRecipient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRecipientRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="updateRecipientResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchRecipientContext">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchRecipientContextRequest">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:input>

         <wsdl:output name="fetchRecipientContextResponse">

            <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="fetchRecipientContextWithTrackingPermission">

          <wsdlsoap:operation soapAction=""/>

          <wsdl:input name="fetchRecipientContextWithTrackingPermissionRequest">

              <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

          </wsdl:input>

          <wsdl:output name="fetchRecipientContextWithTrackingPermissionResponse">

              <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://recipient.apiservice.xpro.inxmail.com"/>

          </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RecipientServiceSoap">

      <wsdl:port name="RecipientService" binding="impl:RecipientServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:80/inxmail/api/RecipientService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
